<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'CWN.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'CWN.Melee'}} ({{mod system.scores.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CWN.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'CWN.SpokenLanguages'}} ({{localize system.languages.spoken}} {{system.langTotal}})
      </li>
      <li>
        {{localize 'CWN.Literacy'}} ({{localize system.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CWN.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'CWN.Missile'}} ({{mod system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'CWN.Initiative'}} ({{mod system.scores.dex.init}})
      </li>
      <li>
        {{localize 'CWN.ArmorClass'}} ({{mod system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CWN.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'CWN.Health'}} ({{mod system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CWN.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'CWN.NPCReaction'}} ({{mod system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'CWN.RetainersMax'}} ({{add system.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'CWN.Loyalty'}} ({{add system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>